<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fontawesome-free-6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Prodaja knjiga</title>
</head>
<body>
    {% block content%} <!--ovde ce se nalaziti stranice koje nasledjuju base.html-->


    {% endblock %}

    <script src="/static/jquery-3.7.1.min.js"></script>
    <script src="/static/bootstrap-4.5.3/js/bootstrap.js"></script>
    <script src="/static/fontawesome-free-6.5.1/js/all.js"></script>
    

</body>
</html>